{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100 mh-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <!-- Common JavaScript -->
    <script src="{% static "boostrap/js/popper.min.js" %}"></script>
    <script src="{% static "boostrap/js/bootstrap.min.js" %}"></script>
    <!-- Common CSS-->
    <link rel="stylesheet" href="{% static "boostrap/css/bootstrap.min.css" %}"/>

    <title>{{ PAGE_TITLE }}</title>
</head>
<body class="h-100">
<div class="row h-100 mh-100">
    {% include "messages.html" %}
    <div class="col">
        <div class="row flex-grow d-flex h-90">
            <div class="col main-content" id="main-content">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</div>

</body>
</html>