{% extends "base.html" %}
{% load static %}

{% block custom_javascript %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    {#    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>#}
    {#    <script src="{% static "custom/simple_js.js" %}"></script>#}
{% endblock custom_javascript %}

{% block content %}
    <div id="simple" class="col-6 mx-auto justify-content-center align-self-center">
        <div class="login-form-container text-center  mx-auto">
            <h1>Data collection</h1>
            <form method="post" class="text-left" id="loginform">
                <div class="row pt-4">
                    <div class="col w-100 mx-auto text-center">
                        <input type="text" name="names" required placeholder="Name's"
                               id="id_name" class="form-control"/>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col w-100 mx-auto text-center">
                        <input type="text" name="address" required placeholder="Address"
                               id="id_address" class="form-control"/>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col w-100 mx-auto text-center">
                        <input type="text" name="phone" pattern="[0-9]+" required
                               placeholder='Phone "ONLY NUMBERS PLAEASE"'
                               id="id_phone" class="form-control"/>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col">
                        <button type="submit" class="btn btn-success align-middle">
                            {#                                v-on:click="save">#}
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

